/*CSS Style Sheet*/
.navbar {
    background: black;
    margin-top: 0px;
}
/*General Styles*/
.tpad{
	padding: 80px;
}
/*Nav Bar Styles*/
.navbar{
	background: black;
}


/*Style for themes*/
.mainContainer{
	background: #000;
	color: white;
	font-size: 14px;
}

.mainContainer .themes p{
	font-size: 15px;
}

.mainContainer a {
			color: #ff9900;
		}

.mainContainer .panel-body {

			color: black;
		}


.panel-default>.panel-heading {
    color: #333;
    background-color: #000;
    border-color: #000;
}


/*Footer Styles*/
footer#footer {
	padding: 60px 0 0 0;
	background: black;
	color: white;
}

	footer#footer #footer-nav {
		border-top: 1px solid #fff;
		margin-top: 35px;
		padding-top: 15px;
		text-align: center;
	}
	
		footer#footer #footer-nav a {
			color: #fff;
		}
		
		footer#footer #footer-nav p {
			font-size: 14px;
		}
		
	footer#footer #copyright {
	}
		
		footer#footer #copyright .title {
			margin-top: 50px;
		}
	
		footer#footer #copyright p {
			font-size: 18px;
		}
		
		footer#footer #copyright a {
			color: #ff9900;
		}
		
		footer#footer .social-links a {
			color: #b2b2b2;
			font-size: 16px;
			margin-right: 10px;
		}


		/*Screen Size - Responsive*/

		@media (max-width: 800px) {
		    .mainContainer {
		      padding-top:200px;
		     /* margin:0;*/
		    }
