/*CSS Style Sheet*/
.navbar {
    background: black;
    margin-top: 0px;
}
/*General Styles*/
.tpad{
	padding: 80px;
}
/*Nav Bar Styles*/
.navbar{
	background: black;
}


/*Form Section*/
.formPad{
	    padding-top: 50px;
    	padding-left: 40px;
}

/*Sign up Default style*/
.signUpDefault ol li{
	font-size: 30px;
	color: orange;
}

.signUpDefault{
	padding-right: 20px;
	padding-bottom: 20px;
}

.signUpDefault h2{
	color: orange;
	font-size: 50px;
}


/*Style for themes*/
.mainContainer{
	background: #000;
	color: white;
	font-size: 14px;
}

.mainContainer .themes p{
	font-size: 15px;
}

.mainContainer a {
			color: #ff9900;
		}

.mainContainer li a {
			color: #000;
		}



.mainContainer .panel-body {

			color: black;
		}


.panel-default>.panel-heading {
    color: #333;
    background-color: #000;
    border-color: #000;
}

/*Styles for table*/
.table-inverse li a{
	color:orange;
}

.table-inverse th:first-child{
	color:orange;
}

/*Footer Styles*/
footer#footer {
	padding: 60px 0 0 0;
	background: black;
	color: white;
}

	footer#footer #footer-nav {
		border-top: 1px solid #fff;
		margin-top: 35px;
		padding-top: 15px;
		text-align: center;
	}
	
		footer#footer #footer-nav a {
			color: #fff;
		}
		
		footer#footer #footer-nav p {
			font-size: 14px;
		}
		
	footer#footer #copyright {
	}
		
		footer#footer #copyright .title {
			margin-top: 50px;
		}
	
		footer#footer #copyright p {
			font-size: 18px;
		}
		
		footer#footer #copyright a {
			color: #ff9900;
		}
		
		footer#footer .social-links a {
			color: #b2b2b2;
			font-size: 16px;
			margin-right: 10px;
		}


		/*Screen Size - Responsive*/

		@media (max-width: 800px) {
		    .mainContainer {
		      padding-top:200px;
		     /* margin:0;*/
		    }

		@media (max-width: 670px) {
		    .mainContainer {
		      padding-top:240px;
		     
		     /* margin:0;*/
		    }

		@media (max-width: 768px) {
		    .container {
		      width: 760px;
		     
		     /* margin:0;*/
		    }