/*CSS Style Sheet*/
/*Nav Bar Styles*/
.navbar{
	background: black;
}


/*Footer Styles*/
footer#footer {
	padding: 60px 0 0 0;
	background: black;
	color: white;
}

	footer#footer #footer-nav {
		border-top: 1px solid #fff;
		margin-top: 35px;
		padding-top: 15px;
		text-align: center;
	}
	
		footer#footer #footer-nav a {
			color: #fff;
		}
		
		footer#footer #footer-nav p {
			font-size: 14px;
		}
		
	footer#footer #copyright {
	}
		
		footer#footer #copyright .title {
			margin-top: 50px;
		}
	
		footer#footer #copyright p {
			font-size: 18px;
		}
		
		footer#footer #copyright a {
			color: #ff9900;
		}
		
		footer#footer .social-links a {
			color: #b2b2b2;
			font-size: 16px;
			margin-right: 10px;
		}
